.timeline {
//No counter
    &.no-counter {
        .timeline__step-label {
            p {
                &:after {
                    display: none;
                }
            }
        }
    }

//LABEL VERTICAL
    //bot
    &.label-bottom {
        .timeline__step-label {
            p {
                top: auto;
                bottom: 0;
            }
        }
    }

//LABEL HORIZONTAL
    //spot
    &.label-spot {
        .timeline__step-label {
            p {
                left: auto;
                transform: none;
            }
        }
        //position
        .timeline__step-item {
            &:not(:first-child) {
                .timeline__step-label {
                    p {
                        transform: translateX(-50%);
                    } 
                }
            }
            &.current {        
                & ~ * {
                    .timeline__step-label {
                        p {
                            right: 0;
                            transform: none;
                        } 
                    }
                    &:not(:last-child) {
                        .timeline__step-label {
                            p {
                                transform: translateX(50%);
                            } 
                        }
                    }
                }
            }
            &:last-child {
                .timeline__step-label {
                    p {
                        right: 0;
                        transform: none;
                    } 
                }
            }
        }

        //current cut
        .timeline__step-item {
            &.current {
                width: 0;
            }
        }
    }

}

.timeline__container {
    @include container();
}

.timeline__title {
    @include titleH1();
    margin-top: 0;
}

.timeline__legend {
    margin-bottom: 30px;
    li {
        position: relative;
        padding-left: 16px;
        & + li {
            margin-top: 5px;
        }
        &:before {
            content: '';
            width: 6px;
            height: 6px;
            top: 50%;
            background-color: #fff;
            border: 2px solid $clrGray;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: calc(50% + 1px);
            transform: translateY(-50%);
        }
        &.orange {
            &:before {
                background-color: $clrOrange;
                border-color: $clrOrange;
            }
        }
        &.green {
            &:before {
                background-color: $clrGreen;
                border-color: $clrGreen;
            }
        }
    }
}

.timeline__step-list {
    display: table;
    width: 100%;
    padding: 23px 7px;
    box-sizing: border-box;
    table-layout: fixed;
    counter-reset: steps;
}

.timeline__step-item {
    display: table-cell;
    position: relative;
    height: 2px;
    background-color: $clrGreen;
    counter-increment: steps;

    &:last-child {
        &::after {
            @include dot();
            right: 0;
            transform: translate(50%, -50%);
        }
    }

    &::before {
        @include dot();
        left: 0;
        transform: translate(-50%, -50%);
    }
    
    &.current {
        background-color: $clrOrange;
        &::before {
            background-color: $clrOrange;
            border-color: $clrOrange;
            z-index: 2;
        }
        &::after {
            background-color: #fff;
            border-color: $clrGray;
        }

        & ~ * {
            background-color: $clrGray;
            &::before {
                background-color: #fff;
                border-color: $clrGray;
            }
            &::after {
                background-color: #fff;
                border-color: $clrGray;
            }
        }
        .timeline__step-label {
            width: 100%;
            height: 46px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            pointer-events: none;
        
            p {
                pointer-events: none;
            }
        }
    }

}

.timeline__step-label {
    width: 100%;
    height: 46px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;

    p {
        font-size: 14px;
        line-height: 16px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: all;
        &:after {
            content: "\00a0"counter(steps)"";
        }
        &:hover {
            color: $clrOrange;
            text-shadow: 0 0 0 $clrOrange;
            cursor: pointer;
        }
    }
}